* {
  font-family: arial;
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.mainSec {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInput {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  input {
    font-size: 1.5rem;
    border-radius: 1rem;
    border: solid black 0.1rem;
    padding: 0.3rem 0.7rem;
  }
}

.logButton {
  font-size: 1.5rem;
  background: limegreen;
  padding: 0.2rem 1.2rem;
  border: solid 0.1rem;
  box-shadow: 0rem 0rem 0.2rem black;
  margin: 1rem 0 0;
}

.logAbout,
.logWarnOn {
  margin: 1.5rem;
  display: flex;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 217, 0, 0.63);
  padding: 0.8rem;
  box-shadow: 0rem 0rem 0.2rem black inset;
  max-width: 80vw;
}
.logWarnOn {
  background: rgb(255, 100, 100);
  margin: 1rem 0 -0.3rem;
}
.logWarnOff {
  display: none;
}

input:focus {
  transform: scale(1.1);
}

footer{background: grey;position: fixed;bottom: 0;width: 100vw;text-align: center;padding: 0.2rem;color: white;text-shadow: 0rem 0rem 0.5rem black;}
