/* LOGIN STYLE CSS */
* {
  font-family: arial;
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.mainSec {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(209, 209, 209);
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0rem 0rem 0.25rem black inset;
}

.logInput {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  input {
    font-size: 1.5rem;
    border-radius: 5rem;
    border: solid rgba(0, 0, 0, 0) 0.1rem;
    padding: 0.3rem 0.7rem;
  }
}

.logButton,.skipTopic {
  font-size: 1.5rem;
  background: limegreen;
  padding: 0.2rem 1.2rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.377);
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.8);
  margin: 1rem 0 0;
  font-weight: bold;
}

.logAbout,
.logWarnOn {
  margin: 1.5rem;
  display: flex;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 217, 0, 0.63);
  padding: 0.8rem;
  box-shadow: 0rem 0rem 0.2rem black inset;
  max-width: 80vw;
}
.logWarnOn {
  background: rgb(255, 100, 100);
  margin: 1rem 0 -0.3rem;
}
.logWarnOff {
  display: none;
}

input:focus {
  transform: scale(1.1);
}

footer {
  background: grey;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 0.2rem;
  color: white;
  text-shadow: 0rem 0rem 0.5rem black;
}

/* MAKE QUIZ STYLE CSS */

.makerQuestion{text-align: center;margin-top: 2rem;}
.allLogosBox {

  display: grid;
  grid-template-columns: 1fr 1fr;
  

 
  
  .logoBox{margin: 2%};
  .logoTittle{font-size: 1.5rem;font-weight: bold;text-align: center};
  .logoImageBox{
    max-width: 35vw;
    max-height: 30vh;
    aspect-ratio: 1/1;
    border: solid black 0.1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{width: 90%;height: 90%;border-radius: 0.5rem;}
  }
}

.skipBtnBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

 @media (min-width:500px){
    .allLogosBox{grid-template-columns: 1fr 1fr 1fr;}
  }